@font-face {
    font-family: 'syntwave';
    src: url('mainpage/fonts/Alien-Encounters-Bold.ttf') format('truetype'),
         url('mainpage/fonts/Alien-Encounters-Solid-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'syntwave-text';
    src: url(mainpage/fonts/Rocket\ Rinder.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    text-align: center;
    padding: 20px;
    font-family: 'syntwave',sans-serif;
    font-size: 60px;
    font-weight: normal;
    color: #000000;
    /* text-shadow: 2px 2px 16px #f689c36f; */
    /* text-shadow: 0 -2px 14px #fff, 0 -3px 10px #000, 0 -16px 40px #000, 0 -6px 21px #e60073, 0 -13px 24px #e60073, 0 -21px 24px #e60073; */
    text-shadow: 0 -2px 9px #ffa0ce, 0 -3px 10px #000, 0 -16px 40px #000, 0 1px 8px #e60073;
}
body{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #242541;
}
@keyframes fadeout {
    0%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 500;
    animation: fadeout 1s linear forwards;
}
.background{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 69, 84);
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.zero{
    bottom: 0;
    background-image: url(mainpage/bg/sunWithMountains.png);
    z-index: -1;
    filter: blur(1px);
}
.three{
    z-index: -5;
    background-image: url(mainpage/bg/-3.png);
    filter: blur(20px);
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.homeworks{
    position: relative;
    background-color: #37224326;
    list-style: none;
    border-radius: 5px;
    padding: 1%;
    max-height: 80vh;
    width: 100%;
    text-shadow: 0px 0px 7px black;
    box-shadow: 0px 50px 40px 5px #1D0620;
    font-family: 'syntwave-text';
    font-size: 19px;
    letter-spacing: 1px;
    text-align: center;
    column-count: 2;
    column-gap: 10%;
}
.hide-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fd9ee558;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hided{
    display: none;
}
.inactive{
    pointer-events: none;
    opacity: 0.3;
}
.audio-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
    top: 50%;
    left: 50%;
    filter: blur(1px);
    z-index: 100;
}
.play{
    background-image: url(mainpage/play-button-svgrepo-com.svg);
}
.pause{
    background-image: url(mainpage/music-pause-button-pair-of-lines-svgrepo-com.svg);
}
.homeworks_item{
    width: 100%;
}
.homeworks_item a:hover{
    box-shadow: 0px 0px 5px 2px #1D0620;
    z-index: 20;
    background-color: #0000002b;
}
.homeworks_item a:link{
    color: #ffe2ed;
}
.homeworks_item a:visited{
    color: #000;
}
.homeworks_item a{
    padding: 2px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0px 13px #e60073, 0 2px 9px #000, 0 0 13px #000;
}
main{
    filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}
.p5Canvas{
    width: 100vw;
    height: 100vh;
}