@font-face {
    font-family: 'syntwave';
    src: url('mainpage/fonts/Alien-Encounters-Bold.ttf') format('truetype'),
         url('mainpage/fonts/Alien-Encounters-Solid-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'syntwave-text';
    src: url(mainpage/fonts/Rocket\ Rinder.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    text-align: center;
    padding: 20px;
    font-family: 'syntwave',sans-serif;
    font-size: 60px;
    font-weight: normal;
    color: #000000;
    /* text-shadow: 2px 2px 16px #f689c36f; */
    text-shadow: 0 -2px 14px #fff, 0 -3px 10px #000, 0 -16px 40px #000, 0 -6px 21px #e60073, 0 -13px 24px #e60073, 0 -21px 24px #e60073;
}
body{
    height: 100vh;
    position: relative;
    /* background-image: url(mainpage/sun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
.background{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 69, 84);
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.zero{
    bottom: 0;
    background-image: url(mainpage/bg/mountains.png);
}
.one{
    z-index: -1;
    background-image: url(mainpage/bg/-1.png);
    width: 21%;
    height: 60%;
    right: 4%;
    top: 3%;
}
.three{
    z-index: -3;
    background-image: url(mainpage/bg/-3.png);
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeworks{
    background-color: #3722439a;
    list-style: none;
    text-align: center;
    width: 30%;
    border: 2px solid #1d062074;
    border-radius: 5px;
    padding: 10px;
    font-family: 'syntwave-text';
    font-size: 19px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 7px black;
    box-shadow: 0px 50px 40px 5px #1D0620;
}
.homeworks_item{
    width: 100%;
}
.homeworks_item a:hover{
    box-shadow: 0px 0px 5px 2px #1D0620;
    z-index: 20;
    background-color: #0000002b;
}
.homeworks_item a:link{
    color: #ffe2ed;
}
.homeworks_item a:visited{
    color: #5e5e5e0f;
}
.homeworks_item a{
    padding: 2px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0px 13px #e60073, 0 2px 9px #000, 0 0 13px #000;
}