@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    position: absolute;
    right: 0;
}
a {
    color: inherit;
}
body{
    font-family: 'Podkova', serif;
}
.wrapper {
    position: relative;
    display: flex;
    max-width: 1440px;
    height: 100vh;
    border: 3px solid black;
    box-shadow: 0px 0px 10px black;
    margin: 0 auto;
}
.main{
    max-width: 15%;
    background-color: rgb(210, 210, 210);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 2%;
    box-shadow: 4px 0px 15px black;
}
.display-none{
    display: none;
}
.main h2{
    margin-bottom: 30px;
    font-size: 35px;
}
.main-nav{
    z-index: 3;
    background-color: #fff;
    max-width: 271px;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 0px 15px black;
}
.main-nav h1 {
    font-weight: normal;
    font-size: 28px;
}
.nav-list{
    padding: 15% 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-item{
    list-style: none;
    font-weight: normal;
    font-size: 20px;
}
.nav-item:hover{
    background-color: rgb(212, 212, 212);
}
.products{
    z-index: 2;
    background-color: #ecebeb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2%;
    gap: 10px;
    box-shadow: 4px 0px 15px black;
}
.product{
    text-align: center;
    cursor: pointer;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s ease;
    font-size: 20px;
    border: 1px solid black;
}
.product:hover{
    background-color: rgb(212, 212, 212);
}
.product-card{
    flex-grow: 30;
    transition: all 0.5s ease;
    z-index: 1;
    /* max-width: 30%; */
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2%;
    box-shadow: 4px 0px 15px black;
}
.product-card__btn{
    min-width: 50%;
    padding: 2%;
}
.product-card__img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    border: 2px solid black;
}
.modal{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    text-align: center;
    /* font-size: 28px; */
}
.modal-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2%;
    box-shadow: 4px 0px 15px black;
}
.modal-card form {
    padding: 2% 0;
    margin-top: 3%;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;

}
.modal-card div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2%;
    /* border: 1px solid black; */
    flex-wrap: wrap;

}
.modal-card div *{
    max-width: 100%;
}
.modal-card div input{
    width: 10%;
    flex-grow: 1;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
.modal-card__buy{
    border-radius: 5px;
    min-width: 30%;
    padding: 2%;
}
.modal-card form .payment input{
    flex-grow: 0;
}
#comment{
    width: 100%;
}
#product-amount{
    flex-grow: 0;
    width: 10%;
    text-align: center;
}